%h1 Каталог ссылок на образовательные материалы по дисциплинам
%p Список доступных для посещения сайтов в сети Интернет формируется по данным каталога.

= form_tag(url_for(), :method => "get", :class => "well form-inline input-append") do
  %label{:for => "search"}!~ "Введите название дисциплины или часть интернет-адреса для поиска: &nbsp;"
  %input#catalog_search{:autofocus => true, :name => :search, :value => params[:search]}>
  %button.btn{:type => "submit"}
    %i.icon-search
    Искать

#catalog
  = render :partial => 'catalog'

%p
  Данный каталог так же доступен в форматах 
  #{link_to 'XML', catalog_path(:format => :xml, :sector_id => nil)} и 
  #{link_to 'JSON', catalog_path(:format => :json, :sector_id => nil)}.
