<p>Здесь перечислены доменные зоны, в которых свободно делегируются домены третьего уровня и выше (Например: site.org.ru). Пожалуйста, добавляйте сюда суффиксы таких зон (как <strong>.org.ru</strong> из примера), чтобы избежать включения слишком большого количества сайтов с разной тематикой в список разрешённых ресурсов. После добавления, нажмите кнопку «Перестроить базу доменов» и немного подождите.</p>

<div class="btn-toolbar">
  <%= link_to "Перестроить базу доменов", rebuild_addresses_path, :method => :post, :class => "btn" %>
<div>

<%= render :super %>
