- if user_signed_in?
  %li{:class => ("active" if params[:controller] == "addresses")}
    = link_to "Интернет-адреса", root_path
  %li{:class => ("active" if params[:controller] == "disciplines")}
    = link_to "Дисциплины", disciplines_path
