- if user_signed_in?
  %li{:class => ("active" if params[:controller].start_with? "devise")}
    = link_to t("devise.labels.sign_out"), destroy_user_session_path, :method => :delete
- else
  %li{:class => ("active" if params[:controller].start_with? "devise")}
    = link_to t("devise.labels.sign_in"), new_user_session_path
